:root {
  --bg-color: #191919;
  --nav-bg-color: #303133;
  --font-primary-color: #ffffff;
  --font-secondary-color: #d8d8d8;
  --border-color: #d4d7de;
  --glass-bg-color: rgba(255, 255, 255, 0.03);
  --glass-border-color: rgba(255, 255, 255, 0.4);
  --font-large-size: 15px;
  --font-medium-size: 15px;
  --font-small-size: 10px;
}

@media screen and (min-width: 768px) {
  :root {
    --font-large-size: 35px;
    --font-medium-size: 20px;
    --font-small-size: 14px;
  }
}

@media screen and (min-width: 1700px) {
  :root {
    --font-large-size: 45px;
    --font-medium-size: 25px;
    --font-small-size: 16px;
  }
}

@media screen and (min-width: 2500px) {
  :root {
    --font-large-size: 55px;
    --font-medium-size: 30px;
    --font-small-size: 18px;
  }
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background-color: var(--bg-color);
  white-space: normal; /* 默认允许换行 */
  word-break: keep-all; /* 保持整个单词，不随意拆开 */
  overflow-wrap: break-word; /* 必要时才换行 */
}

#app {
  text-align: center;
  width: 100vw;
  height: auto;
}
